.ea_utilities__aside_lightboxes {
  :last-child::before {
    content: '';
    position: fixed;
    height: 100svh;
    width: 100vw;
    left: 0;
    top: 0;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-name: overlayEnter;
  }
}

@keyframes overlayEnter {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.65);
  }
}