@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/helpers" as *;
@use "@mailobj-browser/components-generics/src/scss/tweaks/skins/variables" as *;
@use "@mailobj-browser/components-generics/src/scss/tweaks/skins/default";

.ea_utilities__is_sr_only {
  @include ea_utilities__is_sr_only;
}

.ea_utilities__display-none {
  display: none !important;
}

.ea_utilities__display-block {
  display: block;
}

.ea_utilities__visibility-hidden {
  visibility: hidden !important;
}

.ea_utilities__list_style-none {
  list-style: none !important;
}

.ea_utilities__overflow-auto {
  overflow: auto !important;
}

.ea_utilities__overflow-hidden {
  @include ea_utilities__overflow-hidden();
}

.ea_utilities__vertical_align-text_bottom {
  display: inline-block;
  vertical-align: text-bottom;
}

.ea_utilities__vertical_align-top {
  vertical-align: top !important;
}

.ea_utilities__vertical_align-middle {
  vertical-align: middle !important;
}

.ea_utilities__white_space-nowrap {
  white-space: nowrap !important;
}

.ea_utilities__position-fixed {
  position: fixed;
}

.ea_utilities__clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.ea_utilities__width_100 {
  width: 100% !important;
}

.ea_utilities__margin_0 {
  margin: 0 !important;
}

/**
** Text
**/
.ea_utilities__text_align-center {
  text-align: center !important;
}

.ea_utilities__text_align-right {
  text-align: right !important;
}

.ea_utilities__font_weight-bold {
  font-weight: bold;
}

.ea_utilities__font_style-italic {
  font-style: italic;
}

.ea_utilities__word_break-break_word {
  word-break: break-word;
}

/**
** Stack
**/
.ea_utilities__stack-row,
.ea_utilities__stack-column {
  display: flex;
}

.ea_utilities__stack-row {
  flex-direction: row;

  & > * {
    margin-left: 0;
    margin-right: 0;

    &:not(:first-child) {
      margin-left: scss-var($ea--gap, default.$skin-map-default);
    }
  }
}

.ea_utilities__stack-column {
  flex-direction: column;

  & > * {
    margin-top: 0;
    margin-bottom: 0;

    &:not(:first-child) {
      margin-top: scss-var($ea--gap, default.$skin-map-default);
    }
  }
}

.ea_utilities__stack-no-gap {
  &.ea_utilities__stack-row > * {
    margin-left: 0;
    margin-right: 0;
  }

  &.ea_utilities__stack-column > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}